schema/device_failure_more.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="device_info">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ID" type="xs:long"/>
                <xs:element name="PROVINCE" type="xs:string"/>
                <xs:element name="CITY" type="xs:string"/>
                <xs:element name="SYSTEM_CATE" type="xs:string"/>
                <xs:element name="RESPONSE_LEVEL" type="xs:integer"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
