schema/test_format.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="xsdformat" type="">
        <xs:complexType name="" type="">
            <xs:sequence name="" type="">
                <xs:element name="format1" type="xs:string"/>
                <xs:element name="format2" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
